

.max-width {
	width:100%;
	max-width:$width-site;
	margin:0 auto;
}
.container {
	width:100%;
	max-width:$width-cont;
	margin:0 auto;
}

.center-content {
	@include centered();
}

.mainContent {
	padding:($bodyLineHeight * 3) 0;
}

.visually-hidden {
	@include visually-hidden();
}

.square {
	@include squared();
}

