// Pages
// -----

.template--page {
	.mainContent {
		margin-top:($bodyLineHeight * 4);
		// padding:0;
	}

	.page-banner {
		padding:($bodyLineHeight * 6) $bodyLineHeight;
		position:relative;
		z-index:1;
		&:before {
			content:'';
			position:absolute;
			top:0;
			left:0;
			right:0;
			bottom:0;
			width:100%;
			height:100%;
			z-index:0;
			background-color:$dark;
			mix-blend-mode:hard-light;
		}

		h1 {
		    letter-spacing: -0.05em;
			line-height: 0.9em;
			font-weight:900;
			margin:0;
			font-size:2.5em;
			padding:0 0 0 $bodyLineHeight;
		}
		h1,
		.entry-date, 
		.tags {
			color:$beige;
		}
		.entry-date, 
		.tags {
			display:block;
			margin:0 0;
			font-size:($bodyFontSize * 1.25);
		}
		.grid__item {
			vertical-align:middle;
		}
	}
	.meta-title {
		padding:($bodyLineHeight * 0.15);
		margin:($bodyLineHeight * 0.3) 0;
		display:inline-block;
		font-weight:400;
		letter-spacing: 0.1em;
		font-size:1.2em;
	}
	.tech {
		
		span {
			font-weight:600;
		}
	}

	.gallery {
		padding:0 ($bodyLineHeight * 2) ($bodyLineHeight * 2);
		.box {
			margin:0 0 ($bodyLineHeight * 2);
		}
		.background-image {
			border:1px solid $beige;
		}
		.caption {
			display:block;
			// margin:$bodyLineHeight 0;
			padding:($bodyLineHeight * 0.8) ($bodyLineHeight / 2);
		}
	}

	// Orange
	&.color-orange-bg {
		background:$orange;
		.site-header {
			ul {

				li {
					a {
						color:$dark;
					}
				}
			}
		}
		.rte {
			color:$dark;
			p {
				color:$dark;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$dark;
			  	}
			}
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$dark;
		    	color:$beige;
			}
		}
	}

	// white
	&.color-white-bg {
		background:$beige;
		.site-header {
			ul {

				li {
					a {
						color:$dark;
					}
				}
			}
		}
		.rte {
			color:$dark;
			p {
				color:$dark;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$dark;
			  	}
			}
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$green;
		    	color:$beige;
			}
		}
	}
	// Orange
	&.color-red-bg {
		background:$red;
		.site-header {
			ul {

				li {
					a {
						color:$beige;
					}
				}
			}
		}
		.rte {
			color:$beige;
			p {
				color:$beige;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$beige;
			  	}
			}
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$beige;
		    	color:$red;
			}
		}
	}

	// white
	&.color-green-bg {
		background:$green;
		.site-header {
			ul {

				li {
					a {
						color:$beige;
					}
				}
			}
		}
		.rte {
			color:$beige;
			p {
				color:$beige;
			}
			@for $i from 1 through 6 {
			  	h#{$i}, .h#{$i} {
			    	color:$beige;
			  	}
			}
			a {
				color: $linkColor;
				text-decoration: none;
				&:hover {
					color: $linkColorHover;
					text-decoration: underline;
				}
			}
			blockquote {
		    	border-left:3px solid $borderColor;
		    	background:$beige;
		    	color:$red;
			}
		}
	}
}



