---
layout: default
---

{% include hero.html %}

{% include featured-posts.html %}

{% comment %}{% include news.html %}{% endcomment %}

{% comment %}{% include partners.html %}{% endcomment %}

{% comment %}{% include staff.html %}{% endcomment %}
	<h1>Heading</h1>
	<h2>Heading</h2>
	<h3>Heading</h3>
	<h4>Heading</h4>
	<h5>Heading</h5>
	<h6>Heading</h6>
<div class="rte">

	<h1 class="rte-h1">RTE Heading</h1>
	<h2 class="rte-h2">RTE Heading</h2>
	<h3 class="rte-h3">RTE Heading</h3>
	<h4 class="rte-h4">RTE Heading</h4>
	<h5 class="rte-h5">RTE Heading</h5>
	<h6 class="rte-h6">RTE Heading</h6>

	<a href="#" class="link-right-margin">Text Link</a>
	<a href="#" class="btn link-right-margin w-button">BUTTON</a>
	<a href="#" class="btn secondary w-button">BUTTON</a>

	<div class="example-container">
		<a href="#" class="btn full w-button">BUTTON</a><a href="#" class="btn secondary full w-button">BUTTON</a>
	</div>

	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. <span class="strong">Suspendisse</span> varius enim in eros elementum <span class="emphasis">tristique</span>. Duis <span class="strike">cursus</span>, mi quis <span class="underline">viverra</span> ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.
	</p>
	<ul>
	    <li class="strong">Strong</li>
	    <li class="emphasis">Emphasis</li>
	    <li class="strike">Strike</li>
	    <li class="underline">Underline</li>
	    <li class="list-sqaure">Sqaure</li>
	    <li class="list-number">Numbers</li>
	    <li class="list-letters">Letters</li>
	    <li class="list-roman">Roman</li>
	</ul>
	<blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem vitae risus tristique posuere.</blockquote>
</div>

